  /*Slider CSS start Here*/
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
 
.slick_slider {
  max-height: 500px;
  overflow: hidden;
}

.slick-slide {
  line-height: 0;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slick-prev {
    left: 30px;
    z-index: 99999;
}

.slick-next {
    right: 28px;
}
/*Slider CSS End Here*/
/*Card Style CSS Start here*/
.card_with_icon3 {
  background: white;
  box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.06);
}
​
.card_with_icon3 .card-icon {
    width: 80px;
    height: 80px;
    background: #FF6F91;
    font-size: 100px;
}
.iconcard{
  font-size: 80px;
}
.card-title {
    margin-bottom: .75rem;
}
/*Card Style CSS End Here*/

/*Tesimonial Card style start here*/
.testimonials_card3 {
  background: #ffffff;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.04);
}
​
.testimonials_card3 .card_image {
width: 80px;
  height: 80px;
  font-size: 30px;
}
.testimonials_card3 .card-icon {
  top: 17px;
  left: 25px;
  color: #456EDA;
  font-size: 100px;
  opacity: 0.1;
  z-index: 0;
  line-height: 100px;
}
​
.testimonials_card3 .card-icon.card-icon2 {
  top: unset;
  bottom: 16px;
  left: unset;
  right: 24px;
}
/*Testimonaial card style here*/

/*Headre Style start Here*/
.header_menus .nav-item .dropdown-menu {
    top: 72px !important;
    padding: 5px 0;
    border-radius: 3px;
    box-shadow: 0 0px 45px #ccc;
    border: none;
}
.header_menus .nav-item div.dropdown-menu::after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
    left: 15px;
}
.header_menus .dropdown-item {
    padding: 7px 15px;
    font-size: 14px;
    line-height: 18px;
}
.active{
  background-color:#fcba03;
  color:#fff;

}
a img {
  height: 46px;
  width: 68px;
  padding-right: 10px;
}

/*Headre Style End Here*/

/*Faculity style start here*/
.accordion_design2 {
    background: #ffffff;
}
​
.accordion_design2 .card-header {
  background: #FF6F91;
}
​
.accordion_design2 .card-header a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
​
.accordion_design2 .card-header a i {
  right: 15px;
  top: 18px;
}
​
.accordion_design2 .card-header a.collapsed i.fa-caret-down,
.accordion_design2 .card-header a i.fa-caret-left {
  display: block !important;
}
​
.accordion_design2 .card-header a i.fa-caret-down,
.accordion_design2 .card-header a.collapsed i.fa-caret-left {
  display: none !important;
}
/*Faculity style End here*/
.contact_div{
  line-height: 1.6;
}

.information_icon{
  font-size: 40px;
  color: yellow;
}
.footer_icon {
  font-size: 40px;
}

.slider_image{
  height: 350px;
}

.full_anchor {
  top:0;
  left:0px;
  right:0px;
  bottom:0px;
  font-size: 0px;
}

.universty_cards img {
    max-height: 186px;
}